{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "global-require": "off",
    "indent": ["error", "tab", {"SwitchCase": 1}],
    "newline-per-chained-call": "off",
    "no-case-declarations": "off",
    "no-console": "off",
    "no-nested-ternary": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": ["error", {"functions": false}],
    "object-curly-spacing": ["error", "never"],
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "always"}]
  }
}
